############################################
# 🔗 NETWORK CONFIG
############################################

RPC_URL=

############################################
# 🔑 WALLET CONFIG
############################################

PRIVATE_KEY=

############################################
# 📦 CONTRACT ADDRESSES
############################################

ISSUER_REGISTRY_ADDRESS=
CREDENTIAL_REGISTRY_ADDRESS=
DIPLOMA_VERIFIER_ADDRESS=

############################################
# 🌍 ENVIRONMENT
############################################

NODE_ENV=development
NETWORK=localhost